body {
    touch-action: manipulation;
}

#ship {
    background-color: green;
    position: fixed;
    width: 50px;
    height: 90px;
    bottom: 30px;
    touch-action: manipulation;
}

.laser {
    position:fixed;
    left:calc(50% - 10px);
    background-color:red;
    width:20px;
    height:60px;
    z-index:-2
}

.enemy {
    position:fixed;
    background-color:blue;
    width:70px;
    height:70px;
}